// Imports
@import './fonts.scss';
@import './animations.scss';


// Colores
$white: #FFFFFF;
$black: #1a1a1a;
$pc: #A10B23;
$pcl: #CD1931;
$sc: #EA4F5C;
$tc: #52FFBD;
$lgray: #909090;

$s2: all .2s;
$shadow: 0px 20px 30px 0px transparentize($black, .8);
$shadowHover: 0px 10px 10px 0px transparentize($black, .6);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $scs-regular;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    //background: rgba(0, 0, 0, .1);
}
.col {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .97);
    z-index: 60;
    display: none;
    img {
        width: 100px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}
.popupIngresoProductores {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    padding: 50px;
    background: $white;
    z-index: 67;
    text-align: center;
    display: none;
    h1 {
        font-family: $scs-bold;
        font-size: 36px;
        color: $pcl; 
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    input {
        width: 90%;
        height: 70px;
        border: none;
        border-bottom: 3px solid $pc;
        font-size: 18px;
        color: $lgray;
        text-align: center;
        transition: $s2;
        margin-bottom: 20px;
        text-transform: uppercase;
        &:focus {
            border-bottom: 3px solid $pcl;
            color: $black;
            //border-radius: 10px;
            box-shadow: $shadow;
        }
    }
    p {
        font-family: $scs-elight;
        font-size: 18px;
        color: $lgray;
        margin-bottom: 30px;
    }
    button {
        font-family: $scs-bold;
        font-size: 18px;
        color: $white;
        background: $pcl;
        padding: 15px 30px;
        text-transform: uppercase;
        border: none;
        transition: $s2;
        cursor: pointer;
        &:hover {
            background: $pc;
            padding: 15px 40px;
        }
    }
    .cerrarPopupIngresoProductores {
        position: absolute;
        width: 50px;
        right: 0;
        top: 0;
        background: $pcl;
        transition: $s2;
        cursor: pointer;
        svg {
            path {
                fill: $white;
            }
        }
        &:hover {
            background: $pc;
        }
    }
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
    //background: rgba(0, 0, 0, .7);
    z-index: 65;
    display: none;
}

// Menu Mobile
#menuMobile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%; left: 0;
    background: $pc;
    z-index: 123;
    text-align: center;
    display: none;
    transition: all .5s;
    .logos {
        padding: 30px;
        text-align: left;
        display: flex;
        justify-content: end;
        img {
            width: 200px;
            margin: 0 auto;
        }
    }
    .item {
        a {
            display: block;
            padding: 10px 0px;
            margin: 20px 0px;
            color: $white;
            font-family: $scs-elight;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            .bottomLine {
                position: absolute;
                bottom: 0px; left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 120px;
                height: 2px;
                border-radius: 1px;
                background: $white;
                transition: $s2;
            }
            &:hover {
                .bottomLine {
                    width: 180px;
                }
            }
        }
        .active {
            font-family: $scs-bold;
        }
    }
}
.menuMobileActive {
    display: block !important;
}
#menuMobileBoton {
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50px; right: 50px;
    background: $pc;
    box-shadow: $shadow;
    border-radius: 10px;
    cursor: pointer;
    z-index: 124;
    display: none;
    span {
        display: block;
        width: 60%;
        height: 3px;
        background: $white;
        border-radius: 3px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        &:nth-child(1) {
            top: 30%;
        }
        &:nth-child(3) {
            top: 70%;
        }
    }
}
.menuMobileBotonActive {
    top: 80% !important; left: 50%;
    transform: translateX(-50%);
    span {
        &:nth-child(1) {
            top: 50% !important;
            transform-origin: 11px -21px;
            transform: rotate(45deg) !important;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            top: 50% !important;
            transform-origin: 7px 23px;
            transform: rotate(-45deg) !important;
        }
    }
}

// Menu Desktop
#menuDesktop {
    text-align: center;
    padding: 30px 0px;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                padding: 5px;
                margin: 0px 10px;
                //border: 1px solid white;
                position: relative;
                text-decoration: none;
                font-family: $scs-elight;
                color: $white;
                font-size: 22px;
                overflow: hidden;
                svg {
                    .cls-1 {
                        fill: none;
                    }

                    .cls-2 {
                        clip-path: url(#clip-path);
                    }

                    .cls-3 {
                        fill: #fff;
                        transition: $s2;
                    }
                    width: 50px;
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%); 
                    
                }
                .bottomLine {
                    position: absolute;
                    bottom: -15px; left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    width: 120px;
                    height: 2px;
                    border-radius: 1px;
                    background: $white;
                    transition: $s2;
                }
                &:hover {
                    svg {
                        .cls-3 {
                            fill: $pc;
                        }
                    }
                    .bottomLine {
                        width: 180px;
                    }
                }
            }
            .active {
                font-family: $scs-bold;
            }
            &:first-child {
                margin-right: 30px;
            }
        }
    }
}
.menuDesktopRojo {
    ul {
        li {
            a {
                color: $pcl !important;
                svg {
                    .cls-3 {
                        fill: $pcl !important;
                    }
                }
                .bottomLine {
                    background: $pcl !important;
                }
            }
        }
    }
}


#Login {
    header {
        text-align: center;
        .logos {
            padding: 20px 0px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            img {
                width: 200px;
                margin: 0px;
            }
        }
        h1 {
            padding: 10px 0px;
            font-family: $scs-bold;
            font-weight: 700;
            color: $white;
            font-size: 68px;
        }
        h4 {
            padding: 20px 0px;
            font-family: $scs-regular;
            font-weight: 400;
            color: $white;
            font-size: 24px;
            line-height: 39px;
        }
        .accesos {
            #productores, #clientes {
                width: 200px;
                background: $white;
                cursor: pointer;
                border-radius: 10px;
                box-shadow: $shadow;
                transition: all .2s;
                margin: 50px 20px;
                &:hover {
                    box-shadow: $shadowHover;
                }
            }

            #productores {
                #svgProductores {
                    position: relative;
                    &, .TEXTO, .LINEA, .MISC_x5F_1, .MISC_x5F_2, .MISC_x5F_3, .MISC_x5F_4, .MISC_x5F_5, .MISC_x5F_6, .BOCA {
                        path {
                            transition: all .1s;
                        }
                    }
                    .st0{enable-background:new;}
                    .st1{fill:$pc;}
                    .st2{fill:$black;}
                    .st3{fill:none;stroke:$pc;stroke-width:2.13;stroke-miterlimit:10;}
                    .st4{fill:none;stroke:$tc;stroke-miterlimit:10;}
                    .st5{fill:none;stroke:$pc;stroke-width:2.13;stroke-linecap:round;stroke-linejoin:round;}
                    .st6{fill:none;stroke:$black;stroke-linecap:round;stroke-linejoin:round;}
                    .st7{fill:none;stroke:$tc;stroke-width:2.83;stroke-linecap:round;stroke-linejoin:round;}
                    .st8{fill:$pc;}
                }
                &:hover {
                    box-shadow: $shadowHover;
                    svg {
                        .TEXTO {
                            path {
                                fill: $sc;
                            }
                        }
                    }
                }
            }
            #clientes {
                #svgClientes {
                    position: relative;
                    &, .TEXTO, .LINEA, .MISC_x5F_1, .MISC_x5F_2, .MISC_x5F_3, .MISC_x5F_4, .MISC_x5F_5, .MISC_x5F_6, .BOCA {
                        path {
                            transition: all .1s;
                        }
                    }
                    .st0{enable-background:new    ;}
                    .st1{fill:$pc;}
                    .st2{fill:none;}
                    .st3{fill:$black;}
                    .st4{fill:none;stroke:$black;stroke-width:2.13;stroke-miterlimit:10;}
                    .st5{fill:none;stroke:$pc;stroke-miterlimit:10;}
                    .st6{fill:none;stroke:$tc;stroke-width:2.13;stroke-linecap:round;stroke-linejoin:round;}
                    .st7{fill:none;stroke:$black;stroke-linecap:round;stroke-linejoin:round;}
                    .st8{fill:none;stroke:$pc;stroke-width:2.83;stroke-linecap:round;stroke-linejoin:round;}
                    .st9{fill:$tc;}
                }
                &:hover {
                    box-shadow: $shadowHover;
                    svg {
                        .TEXTO {
                            path {
                                fill: $sc;
                            }
                        }
                    }
                }
            }
        }
    }

    #particles-js {
        width: 100%; height: 100%;
        position: fixed;
        top: 0; left: 0;
        background: $pc;
        z-index: -1;
    }
}
#Bienvenido {
    header {
        background: $pcl;
        .bajada {
            text-align: center;
            h1 {
                margin: 50px 0px;
                text-align: left;
            }
            p {
                width: 70%;
                font-family: $scs-elight;
                font-weight: 100;
                color: $white;
                font-size: 20px;
                line-height: 28px;
                text-align: left;
                strong {
                    font-family: $scs-bold;
                    font-weight: 700;
                }
            }
            a {
                margin: 70px auto;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                padding: 15px 80px;
                background: $lgray;
                font-family: $scs-bold;
                font-weight: 700;
                color: $white;
                font-size: 18px;
                line-height: 24px;
                border-radius: 10px;
                transition: all .2s;
                box-shadow: $shadow;
                &:hover {
                    padding: 15px 90px;
                    background: darken($lgray, 10);
                    box-shadow: $shadowHover;
                }
            }
        }
    }
    .features {
        padding: 50px 0px;
        .item {
            vertical-align: top;
            padding-bottom: 10px;
            transition: $s2;
            &:nth-child(1) {
                width: calc(300px - 30px);
                margin: 30px;
                margin-left: 0px;
            }
            &:nth-child(2) {
                width: calc(262px - 60px);
                margin: 30px;
            }
            &:nth-child(3) {
                width: calc(209px - 60px);
                margin: 30px;
            }
            &:nth-child(4) {
                width: calc(229px - 30px);
                margin: 30px;
                margin-right: 0px;
            }
            .icono {
                text-align: center;
                margin-bottom: 20px;
            }
            .title {
                font-family: $scs-bold;
                font-size: 24px;
                color: $pcl;
                margin-bottom: 15px;
            }
            p {
                font-family: $scs-elight;
                font-size: 15px;
                color: $lgray;
                span {
                    font-family: $scs-italic;
                    color: darken($lgray, 10);
                }                
            }
            &:hover {
                border-bottom: 3px solid $pc;
            }
        }
    }
}
#Como-canjear-premios {
    .bajada {
        padding: 80px 0;
        h1 {
            font-family: $scs-elight;
            font-weight: 100;
            font-size: 41px;
            color: $pcl;
            line-height: 56px;
            margin-bottom: 20px;
            strong {
                font-family: $scs-bold;
                font-weight: 700;
            }
        }
        p {
            font-family: $scs-elight;
            font-weight: 100;
            font-size: 20px;
        }
    }
    .acceso {
        .pasos {
            .item {
                width: calc(100% / 3 - 40px);
                vertical-align: top;
                .img {
                    margin-bottom: 20px;
                    svg {
                        width: 175px;
                        transition: all .2s;
                        .st0{fill:none;stroke:#CD1931;stroke-width:0.75;stroke-miterlimit:10;transition: all .2s;}
                        .st1{fill:#CD1931;}
                    }
                }
                .texto {
                    p {
                        font-family: $scs-elight;
                        font-weight: 100;
                        font-size: 18px;
                        strong {
                            font-family: $scs-bold;
                            font-weight: 700;
                            transition: all .2s;
                        }
                    }
                }

                &:hover {
                    .img {
                        svg {
                            .st0 {
                                fill: $pcl;
                            }
                        }
                    }
                    .texto {
                        p {
                            strong {
                                color: $pcl;
                            }
                        }
                    }
                }
            }
            .cta {
                button {
                    width: 300px;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #Login {
        header {
            .logos {
                img {
                    width: 150px;
                }
            }
            h1 {
                font-size: 36px;
            }
            h4 {
                font-size: 18px;
                line-height: 24px;
                br {
                    display: none;
                }
            }
            .accesos {
                #productores, #clientes {
                    margin: 20px 0px;
                }
            }
        }
    }
}