@font-face {
  font-family: 'scs-bold';
  src: url(../fonts/scs-bold.otf);
}

@font-face {
  font-family: 'scs-elight';
  src: url(../fonts/scs-elight.otf);
}

@font-face {
  font-family: 'scs-italic';
  src: url(../fonts/scs-italic.otf);
}

@font-face {
  font-family: 'scs-regular';
  src: url(../fonts/scs-regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "scs-regular", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.97);
  z-index: 60;
  display: none;
}

.preloader img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupIngresoProductores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  padding: 50px;
  background: #FFFFFF;
  z-index: 67;
  text-align: center;
  display: none;
}

.popupIngresoProductores h1 {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #CD1931;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.popupIngresoProductores input {
  width: 90%;
  height: 70px;
  border: none;
  border-bottom: 3px solid #A10B23;
  font-size: 18px;
  color: #909090;
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.popupIngresoProductores input:focus {
  border-bottom: 3px solid #CD1931;
  color: #1a1a1a;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
}

.popupIngresoProductores p {
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #909090;
  margin-bottom: 30px;
}

.popupIngresoProductores button {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background: #CD1931;
  padding: 15px 30px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.popupIngresoProductores button:hover {
  background: #A10B23;
  padding: 15px 40px;
}

.popupIngresoProductores .cerrarPopupIngresoProductores {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
  background: #CD1931;
  transition: all 0.2s;
  cursor: pointer;
}

.popupIngresoProductores .cerrarPopupIngresoProductores svg path {
  fill: #FFFFFF;
}

.popupIngresoProductores .cerrarPopupIngresoProductores:hover {
  background: #A10B23;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 65;
  display: none;
}

#menuMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #A10B23;
  z-index: 123;
  text-align: center;
  display: none;
  transition: all .5s;
}

#menuMobile .logos {
  padding: 30px;
  text-align: left;
  display: flex;
  justify-content: end;
}

#menuMobile .logos img {
  width: 200px;
  margin: 0 auto;
}

#menuMobile .item a {
  display: block;
  padding: 10px 0px;
  margin: 20px 0px;
  color: #FFFFFF;
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

#menuMobile .item a .bottomLine {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 2px;
  border-radius: 1px;
  background: #FFFFFF;
  transition: all 0.2s;
}

#menuMobile .item a:hover .bottomLine {
  width: 180px;
}

#menuMobile .item .active {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
}

.menuMobileActive {
  display: block !important;
}

#menuMobileBoton {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 50px;
  right: 50px;
  background: #A10B23;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
  border-radius: 10px;
  cursor: pointer;
  z-index: 124;
  display: none;
}

#menuMobileBoton span {
  display: block;
  width: 60%;
  height: 3px;
  background: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuMobileBoton span:nth-child(1) {
  top: 30%;
}

#menuMobileBoton span:nth-child(3) {
  top: 70%;
}

.menuMobileBotonActive {
  top: 80% !important;
  left: 50%;
  transform: translateX(-50%);
}

.menuMobileBotonActive span:nth-child(1) {
  top: 50% !important;
  transform-origin: 11px -21px;
  transform: rotate(45deg) !important;
}

.menuMobileBotonActive span:nth-child(2) {
  opacity: 0;
}

.menuMobileBotonActive span:nth-child(3) {
  top: 50% !important;
  transform-origin: 7px 23px;
  transform: rotate(-45deg) !important;
}

#menuDesktop {
  text-align: center;
  padding: 30px 0px;
}

#menuDesktop ul {
  list-style-type: none;
}

#menuDesktop ul li {
  display: inline-block;
  vertical-align: middle;
}

#menuDesktop ul li a {
  padding: 5px;
  margin: 0px 10px;
  position: relative;
  text-decoration: none;
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  overflow: hidden;
}

#menuDesktop ul li a svg {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuDesktop ul li a svg .cls-1 {
  fill: none;
}

#menuDesktop ul li a svg .cls-2 {
  clip-path: url(#clip-path);
}

#menuDesktop ul li a svg .cls-3 {
  fill: #fff;
  transition: all 0.2s;
}

#menuDesktop ul li a .bottomLine {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 2px;
  border-radius: 1px;
  background: #FFFFFF;
  transition: all 0.2s;
}

#menuDesktop ul li a:hover svg .cls-3 {
  fill: #A10B23;
}

#menuDesktop ul li a:hover .bottomLine {
  width: 180px;
}

#menuDesktop ul li .active {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
}

#menuDesktop ul li:first-child {
  margin-right: 30px;
}

.menuDesktopRojo ul li a {
  color: #CD1931 !important;
}

.menuDesktopRojo ul li a svg .cls-3 {
  fill: #CD1931 !important;
}

.menuDesktopRojo ul li a .bottomLine {
  background: #CD1931 !important;
}

#Login header {
  text-align: center;
}

#Login header .logos {
  padding: 20px 0px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#Login header .logos img {
  width: 200px;
  margin: 0px;
}

#Login header h1 {
  padding: 10px 0px;
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 68px;
}

#Login header h4 {
  padding: 20px 0px;
  font-family: "scs-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 39px;
}

#Login header .accesos #productores, #Login header .accesos #clientes {
  width: 200px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
  transition: all .2s;
  margin: 50px 20px;
}

#Login header .accesos #productores:hover, #Login header .accesos #clientes:hover {
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Login header .accesos #productores #svgProductores {
  position: relative;
}

#Login header .accesos #productores #svgProductores path, #Login header .accesos #productores #svgProductores .TEXTO path, #Login header .accesos #productores #svgProductores .LINEA path, #Login header .accesos #productores #svgProductores .MISC_x5F_1 path, #Login header .accesos #productores #svgProductores .MISC_x5F_2 path, #Login header .accesos #productores #svgProductores .MISC_x5F_3 path, #Login header .accesos #productores #svgProductores .MISC_x5F_4 path, #Login header .accesos #productores #svgProductores .MISC_x5F_5 path, #Login header .accesos #productores #svgProductores .MISC_x5F_6 path, #Login header .accesos #productores #svgProductores .BOCA path {
  transition: all .1s;
}

#Login header .accesos #productores #svgProductores .st0 {
  enable-background: new;
}

#Login header .accesos #productores #svgProductores .st1 {
  fill: #A10B23;
}

#Login header .accesos #productores #svgProductores .st2 {
  fill: #1a1a1a;
}

#Login header .accesos #productores #svgProductores .st3 {
  fill: none;
  stroke: #A10B23;
  stroke-width: 2.13;
  stroke-miterlimit: 10;
}

#Login header .accesos #productores #svgProductores .st4 {
  fill: none;
  stroke: #52FFBD;
  stroke-miterlimit: 10;
}

#Login header .accesos #productores #svgProductores .st5 {
  fill: none;
  stroke: #A10B23;
  stroke-width: 2.13;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesos #productores #svgProductores .st6 {
  fill: none;
  stroke: #1a1a1a;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesos #productores #svgProductores .st7 {
  fill: none;
  stroke: #52FFBD;
  stroke-width: 2.83;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesos #productores #svgProductores .st8 {
  fill: #A10B23;
}

#Login header .accesos #productores:hover {
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Login header .accesos #productores:hover svg .TEXTO path {
  fill: #EA4F5C;
}

#Login header .accesos #clientes #svgClientes {
  position: relative;
}

#Login header .accesos #clientes #svgClientes path, #Login header .accesos #clientes #svgClientes .TEXTO path, #Login header .accesos #clientes #svgClientes .LINEA path, #Login header .accesos #clientes #svgClientes .MISC_x5F_1 path, #Login header .accesos #clientes #svgClientes .MISC_x5F_2 path, #Login header .accesos #clientes #svgClientes .MISC_x5F_3 path, #Login header .accesos #clientes #svgClientes .MISC_x5F_4 path, #Login header .accesos #clientes #svgClientes .MISC_x5F_5 path, #Login header .accesos #clientes #svgClientes .MISC_x5F_6 path, #Login header .accesos #clientes #svgClientes .BOCA path {
  transition: all .1s;
}

#Login header .accesos #clientes #svgClientes .st0 {
  enable-background: new;
}

#Login header .accesos #clientes #svgClientes .st1 {
  fill: #A10B23;
}

#Login header .accesos #clientes #svgClientes .st2 {
  fill: none;
}

#Login header .accesos #clientes #svgClientes .st3 {
  fill: #1a1a1a;
}

#Login header .accesos #clientes #svgClientes .st4 {
  fill: none;
  stroke: #1a1a1a;
  stroke-width: 2.13;
  stroke-miterlimit: 10;
}

#Login header .accesos #clientes #svgClientes .st5 {
  fill: none;
  stroke: #A10B23;
  stroke-miterlimit: 10;
}

#Login header .accesos #clientes #svgClientes .st6 {
  fill: none;
  stroke: #52FFBD;
  stroke-width: 2.13;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesos #clientes #svgClientes .st7 {
  fill: none;
  stroke: #1a1a1a;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesos #clientes #svgClientes .st8 {
  fill: none;
  stroke: #A10B23;
  stroke-width: 2.83;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesos #clientes #svgClientes .st9 {
  fill: #52FFBD;
}

#Login header .accesos #clientes:hover {
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Login header .accesos #clientes:hover svg .TEXTO path {
  fill: #EA4F5C;
}

#Login #particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #A10B23;
  z-index: -1;
}

#Bienvenido header {
  background: #CD1931;
}

#Bienvenido header .bajada {
  text-align: center;
}

#Bienvenido header .bajada h1 {
  margin: 50px 0px;
  text-align: left;
}

#Bienvenido header .bajada p {
  width: 70%;
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

#Bienvenido header .bajada p strong {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#Bienvenido header .bajada a {
  margin: 70px auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px 80px;
  background: #909090;
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  border-radius: 10px;
  transition: all .2s;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
}

#Bienvenido header .bajada a:hover {
  padding: 15px 90px;
  background: #777777;
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Bienvenido .features {
  padding: 50px 0px;
}

#Bienvenido .features .item {
  vertical-align: top;
  padding-bottom: 10px;
  transition: all 0.2s;
}

#Bienvenido .features .item:nth-child(1) {
  width: calc(300px - 30px);
  margin: 30px;
  margin-left: 0px;
}

#Bienvenido .features .item:nth-child(2) {
  width: calc(262px - 60px);
  margin: 30px;
}

#Bienvenido .features .item:nth-child(3) {
  width: calc(209px - 60px);
  margin: 30px;
}

#Bienvenido .features .item:nth-child(4) {
  width: calc(229px - 30px);
  margin: 30px;
  margin-right: 0px;
}

#Bienvenido .features .item .icono {
  text-align: center;
  margin-bottom: 20px;
}

#Bienvenido .features .item .title {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #CD1931;
  margin-bottom: 15px;
}

#Bienvenido .features .item p {
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #909090;
}

#Bienvenido .features .item p span {
  font-family: "scs-italic", Arial, Helvetica, sans-serif;
  color: #777777;
}

#Bienvenido .features .item:hover {
  border-bottom: 3px solid #A10B23;
}

@media (max-width: 600px) {
  #Login header .logos img {
    width: 150px;
  }
  #Login header h1 {
    font-size: 36px;
  }
  #Login header h4 {
    font-size: 18px;
    line-height: 24px;
  }
  #Login header h4 br {
    display: none;
  }
  #Login header .accesos #productores, #Login header .accesos #clientes {
    margin: 20px 0px;
  }
}
