// Imports
@import './fonts.scss';
@import './animations.scss';

// Colores
$white: #FFFFFF;
$black: #1a1a1a;
$pc: #A10B23;
$pcl: #CD1931;
$sc: #EA4F5C;
$tc: #52FFBD;
$lgray: #909090;

$s2: all .2s;
$shadow: 0px 20px 30px 0px transparentize($black, .8);
$shadowHover: 0px 10px 10px 0px transparentize($black, .6);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $scs-regular;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    
}
.col {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .97);
    z-index: 60;
    display: none;
    img {
        width: 100px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}
.popupIngresoProductores {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    padding: 50px;
    background: $white;
    z-index: 67;
    text-align: center;
    display: none;
    h1 {
        font-family: $scs-bold;
        font-size: 56px;
        color: $pcl; 
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    input {
        width: 90%;
        height: 70px;
        border: none;
        border-bottom: 3px solid $pc;
        font-size: 18px;
        color: $lgray;
        text-align: center;
        transition: $s2;
        margin-bottom: 20px;
        text-transform: uppercase;
        &:focus {
            border-bottom: 3px solid $pcl;
            color: $black;
            //border-radius: 10px;
            box-shadow: $shadow;
        }
    }
    p {
        font-family: $scs-elight;
        font-size: 18px;
        color: $lgray;
        margin-bottom: 30px;
    }
    button {
        font-family: $scs-bold;
        font-size: 34px;
        color: $white;
        background: $pcl;
        padding: 15px 30px;
        text-transform: uppercase;
        border: none;
        transition: $s2;
        cursor: pointer;
        &:hover {
            background: $pc;
            padding: 15px 40px;
        }
    }
    .cerrarPopupIngresoProductores {
        position: absolute;
        width: 50px;
        right: 0;
        top: 0;
        background: $pcl;
        transition: $s2;
        cursor: pointer;
        svg {
            path {
                fill: $white;
            }
        }
        &:hover {
            background: $pc;
        }
    }
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px;
    background: rgba(0, 0, 0, .7);
    z-index: 65;
    display: none;
}

header {
    width: 100%;
    min-height: 100vh;
    background: $sc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $pc, $sc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $pc, $sc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .logos {
        text-align: center;
        display: flex;
        justify-content: end;
        padding: 30px 0;
        background: transparent;
        z-index: 61;
        img {
            width: 180px;
            &:first-child {
                margin-right: auto;
            }
        }
    }
    .bajada {
        text-align: center;
        margin-top: 50px;
        h1 {
            color: $white;
            font-family: $scs-bold;
            font-size: 76px;
        }
        p {
            color: $white;
            font-family: $scs-regular;
            font-size: 28px;
            line-height: 36px;
            margin-top: 20px;
        }

    }
    .accesos {
        margin: 100px 0px;
        &Productor {
            width: 300px;
            background: $white;
            border-radius: 10px;
            box-shadow: $shadow;
            transition: $s2;
            cursor: pointer;

            #svgProductores {
                position: relative;
                &, .TEXTO, .LINEA, .MISC_x5F_1, .MISC_x5F_2, .MISC_x5F_3, .MISC_x5F_4, .MISC_x5F_5, .MISC_x5F_6, .BOCA {
                    path {
                        transition: all .1s;
                    }
                }
                .st0{enable-background:new;}
                .st1{fill:$pc;}
                .st2{fill:$black;}
                .st3{fill:none;stroke:$pc;stroke-width:2.13;stroke-miterlimit:10;}
                .st4{fill:none;stroke:$tc;stroke-miterlimit:10;}
                .st5{fill:none;stroke:$pc;stroke-width:2.13;stroke-linecap:round;stroke-linejoin:round;}
                .st6{fill:none;stroke:$black;stroke-linecap:round;stroke-linejoin:round;}
                .st7{fill:none;stroke:$tc;stroke-width:2.83;stroke-linecap:round;stroke-linejoin:round;}
                .st8{fill:$pc;}
            }
            &:hover {
                box-shadow: $shadowHover;
                svg {
                    .TEXTO {
                        path {
                            fill: $sc;
                        }
                    }
                }
            }
        }

        &Cliente {
            width: 300px;
            background: $white;
            border-radius: 10px;
            box-shadow: $shadow;
            transition: $s2;
            cursor: pointer;
            margin-left: 50px;

            #svgClientes {
                position: relative;
                &, .TEXTO, .LINEA, .MISC_x5F_1, .MISC_x5F_2, .MISC_x5F_3, .MISC_x5F_4, .MISC_x5F_5, .MISC_x5F_6, .BOCA {
                    path {
                        transition: all .1s;
                    }
                }
                .st0{enable-background:new    ;}
                .st1{fill:$pc;}
                .st2{fill:none;}
                .st3{fill:$black;}
                .st4{fill:none;stroke:$black;stroke-width:2.13;stroke-miterlimit:10;}
                .st5{fill:none;stroke:$pc;stroke-miterlimit:10;}
                .st6{fill:none;stroke:$tc;stroke-width:2.13;stroke-linecap:round;stroke-linejoin:round;}
                .st7{fill:none;stroke:$black;stroke-linecap:round;stroke-linejoin:round;}
                .st8{fill:none;stroke:$pc;stroke-width:2.83;stroke-linecap:round;stroke-linejoin:round;}
                .st9{fill:$tc;}
            }
            &:hover {
                box-shadow: $shadowHover;
                svg {
                    .TEXTO {
                        path {
                            fill: $sc;
                        }
                    }
                }
            }
        }
    }
    .particles-js-canvas-el {
        position: absolute;
        top: 0;
        z-index: 1;
        pointer-events: none;
    }
}

@media (max-width: 1400px) {
    header {
        .bajada {
            margin-top: 20px;
            h1 {
                font-size: 56px;
            }
            p {
                font-size: 24px;
            }
        }
        .accesos {
            margin: 50px 0px;
            &Productor, &Cliente {
                width: 250px;
            }
        }
    }
}

@media (max-width: 600px) {
    .popupIngresoProductores {
        h1 {
            font-size: 35px;
        }
    }
    header {
        padding-bottom: 50px;

        .logos {
            display: block;
            img {
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
        .bajada {
            h1 {
                font-size: 36px;
            }
            p {
                font-size: 20px;
            }
            .accesos {
                &Cliente {
                    margin-left: 0;
                }
                &Productor, &Cliente {
                    width: 250px;
                    display: block;
                    margin: 50px auto;
                }
            }

        }

        
    }
}
