@font-face {
  font-family: 'scs-bold';
  src: url(../fonts/scs-bold.otf);
}

@font-face {
  font-family: 'scs-elight';
  src: url(../fonts/scs-elight.otf);
}

@font-face {
  font-family: 'scs-italic';
  src: url(../fonts/scs-italic.otf);
}

@font-face {
  font-family: 'scs-regular';
  src: url(../fonts/scs-regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "scs-regular", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.97);
  z-index: 60;
  display: none;
}

.preloader img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupIngresoProductores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  padding: 50px;
  background: #FFFFFF;
  z-index: 67;
  text-align: center;
  display: none;
}

.popupIngresoProductores h1 {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #CD1931;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.popupIngresoProductores input {
  width: 90%;
  height: 70px;
  border: none;
  border-bottom: 3px solid #A10B23;
  font-size: 18px;
  color: #909090;
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.popupIngresoProductores input:focus {
  border-bottom: 3px solid #CD1931;
  color: #1a1a1a;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
}

.popupIngresoProductores p {
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #909090;
  margin-bottom: 30px;
}

.popupIngresoProductores button {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background: #CD1931;
  padding: 15px 30px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.popupIngresoProductores button:hover {
  background: #A10B23;
  padding: 15px 40px;
}

.popupIngresoProductores .cerrarPopupIngresoProductores {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
  background: #CD1931;
  transition: all 0.2s;
  cursor: pointer;
}

.popupIngresoProductores .cerrarPopupIngresoProductores svg path {
  fill: #FFFFFF;
}

.popupIngresoProductores .cerrarPopupIngresoProductores:hover {
  background: #A10B23;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 65;
  display: none;
}

#menuMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #A10B23;
  z-index: 123;
  text-align: center;
  display: none;
  transition: all .5s;
}

#menuMobile .logos {
  padding: 30px;
  text-align: left;
  display: flex;
  justify-content: end;
}

#menuMobile .logos img {
  width: 200px;
  margin: 0 auto;
}

#menuMobile .item a {
  display: block;
  padding: 10px 0px;
  margin: 20px 0px;
  color: #FFFFFF;
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

#menuMobile .item a .bottomLine {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 2px;
  border-radius: 1px;
  background: #FFFFFF;
  transition: all 0.2s;
}

#menuMobile .item a:hover .bottomLine {
  width: 180px;
}

#menuMobile .item .active {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
}

.menuMobileActive {
  display: block !important;
}

#menuMobileBoton {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 50px;
  right: 50px;
  background: #A10B23;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
  border-radius: 10px;
  cursor: pointer;
  z-index: 124;
  display: none;
}

#menuMobileBoton span {
  display: block;
  width: 60%;
  height: 3px;
  background: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuMobileBoton span:nth-child(1) {
  top: 30%;
}

#menuMobileBoton span:nth-child(3) {
  top: 70%;
}

.menuMobileBotonActive {
  top: 80% !important;
  left: 50%;
  transform: translateX(-50%);
}

.menuMobileBotonActive span:nth-child(1) {
  top: 50% !important;
  transform-origin: 11px -21px;
  transform: rotate(45deg) !important;
}

.menuMobileBotonActive span:nth-child(2) {
  opacity: 0;
}

.menuMobileBotonActive span:nth-child(3) {
  top: 50% !important;
  transform-origin: 7px 23px;
  transform: rotate(-45deg) !important;
}

.SeccionTitulos h2 {
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #CD1931;
}

.SeccionTitulos h2 strong {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
}

#Login header {
  width: 100%;
  height: 100vh;
  background: #EA4F5C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A10B23, #EA4F5C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A10B23, #EA4F5C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#Login header .logos {
  text-align: center;
  display: flex;
  justify-content: end;
  padding: 30px 0;
  background: transparent;
  z-index: 61;
}

#Login header .logos img {
  width: 180px;
}

#Login header .logos img:first-child {
  margin-right: auto;
}

#Login header .bajada {
  text-align: center;
  margin-top: 50px;
}

#Login header .bajada h1 {
  color: #FFFFFF;
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 76px;
}

#Login header .bajada p {
  color: #FFFFFF;
  font-family: "scs-regular", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 36px;
  margin-top: 20px;
}

#Login header .accesos {
  margin-top: 100px;
}

#Login header .accesosProductor {
  width: 300px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}

#Login header .accesosProductor #svgProductores {
  position: relative;
}

#Login header .accesosProductor #svgProductores path, #Login header .accesosProductor #svgProductores .TEXTO path, #Login header .accesosProductor #svgProductores .LINEA path, #Login header .accesosProductor #svgProductores .MISC_x5F_1 path, #Login header .accesosProductor #svgProductores .MISC_x5F_2 path, #Login header .accesosProductor #svgProductores .MISC_x5F_3 path, #Login header .accesosProductor #svgProductores .MISC_x5F_4 path, #Login header .accesosProductor #svgProductores .MISC_x5F_5 path, #Login header .accesosProductor #svgProductores .MISC_x5F_6 path, #Login header .accesosProductor #svgProductores .BOCA path {
  transition: all .1s;
}

#Login header .accesosProductor #svgProductores .st0 {
  enable-background: new;
}

#Login header .accesosProductor #svgProductores .st1 {
  fill: #A10B23;
}

#Login header .accesosProductor #svgProductores .st2 {
  fill: #1a1a1a;
}

#Login header .accesosProductor #svgProductores .st3 {
  fill: none;
  stroke: #A10B23;
  stroke-width: 2.13;
  stroke-miterlimit: 10;
}

#Login header .accesosProductor #svgProductores .st4 {
  fill: none;
  stroke: #52FFBD;
  stroke-miterlimit: 10;
}

#Login header .accesosProductor #svgProductores .st5 {
  fill: none;
  stroke: #A10B23;
  stroke-width: 2.13;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesosProductor #svgProductores .st6 {
  fill: none;
  stroke: #1a1a1a;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesosProductor #svgProductores .st7 {
  fill: none;
  stroke: #52FFBD;
  stroke-width: 2.83;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesosProductor #svgProductores .st8 {
  fill: #A10B23;
}

#Login header .accesosProductor:hover {
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Login header .accesosProductor:hover svg .TEXTO path {
  fill: #EA4F5C;
}

#Login header .accesosCliente {
  width: 300px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 50px;
}

#Login header .accesosCliente #svgClientes {
  position: relative;
}

#Login header .accesosCliente #svgClientes path, #Login header .accesosCliente #svgClientes .TEXTO path, #Login header .accesosCliente #svgClientes .LINEA path, #Login header .accesosCliente #svgClientes .MISC_x5F_1 path, #Login header .accesosCliente #svgClientes .MISC_x5F_2 path, #Login header .accesosCliente #svgClientes .MISC_x5F_3 path, #Login header .accesosCliente #svgClientes .MISC_x5F_4 path, #Login header .accesosCliente #svgClientes .MISC_x5F_5 path, #Login header .accesosCliente #svgClientes .MISC_x5F_6 path, #Login header .accesosCliente #svgClientes .BOCA path {
  transition: all .1s;
}

#Login header .accesosCliente #svgClientes .st0 {
  enable-background: new;
}

#Login header .accesosCliente #svgClientes .st1 {
  fill: #A10B23;
}

#Login header .accesosCliente #svgClientes .st2 {
  fill: none;
}

#Login header .accesosCliente #svgClientes .st3 {
  fill: #1a1a1a;
}

#Login header .accesosCliente #svgClientes .st4 {
  fill: none;
  stroke: #1a1a1a;
  stroke-width: 2.13;
  stroke-miterlimit: 10;
}

#Login header .accesosCliente #svgClientes .st5 {
  fill: none;
  stroke: #A10B23;
  stroke-miterlimit: 10;
}

#Login header .accesosCliente #svgClientes .st6 {
  fill: none;
  stroke: #52FFBD;
  stroke-width: 2.13;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesosCliente #svgClientes .st7 {
  fill: none;
  stroke: #1a1a1a;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesosCliente #svgClientes .st8 {
  fill: none;
  stroke: #A10B23;
  stroke-width: 2.83;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#Login header .accesosCliente #svgClientes .st9 {
  fill: #52FFBD;
}

#Login header .accesosCliente:hover {
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Login header .accesosCliente:hover svg .TEXTO path {
  fill: #EA4F5C;
}

#Login header .particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

#Bienvenido header {
  padding: 50px 0px;
  background: #CD1931;
}

#Bienvenido header nav {
  text-align: center;
}

#Bienvenido header nav ul {
  list-style-type: none;
}

#Bienvenido header nav ul li {
  display: inline-block;
  vertical-align: middle;
}

#Bienvenido header nav ul li a {
  padding: 5px;
  margin: 0px 10px;
  position: relative;
  text-decoration: none;
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  overflow: hidden;
}

#Bienvenido header nav ul li a svg {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Bienvenido header nav ul li a svg .cls-1 {
  fill: none;
}

#Bienvenido header nav ul li a svg .cls-2 {
  clip-path: url(#clip-path);
}

#Bienvenido header nav ul li a svg .cls-3 {
  fill: #fff;
  transition: all 0.2s;
}

#Bienvenido header nav ul li a .bottomLine {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 2px;
  border-radius: 1px;
  background: #FFFFFF;
  transition: all 0.2s;
}

#Bienvenido header nav ul li a:hover svg .cls-3 {
  fill: #A10B23;
}

#Bienvenido header nav ul li a:hover .bottomLine {
  width: 180px;
}

#Bienvenido header nav ul li .active {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
}

#Bienvenido header nav ul li:first-child {
  margin-right: 30px;
}

#Bienvenido header .bajada {
  margin-top: 50px;
}

#Bienvenido header .bajada h1 svg {
  width: 50%;
}

#Bienvenido header .bajada h1 svg .st0 {
  enable-background: new;
}

#Bienvenido header .bajada h1 svg .st1 {
  fill: #FFFFFF;
}

#Bienvenido header .bajada p {
  margin-top: 40px;
  width: 70%;
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 36px;
}

#Bienvenido header .bajada a {
  display: block;
  width: 500px;
  padding: 10px 0px;
  background: #909090;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px rgba(26, 26, 26, 0.2);
  transition: all 0.2s;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 50px auto;
}

#Bienvenido header .bajada a:hover {
  background: #777777;
  box-shadow: 0px 10px 10px 0px rgba(26, 26, 26, 0.4);
}

#Bienvenido .features {
  padding: 50px 0px;
}

#Bienvenido .features .item {
  vertical-align: top;
  padding-bottom: 10px;
  transition: all 0.2s;
}

#Bienvenido .features .item:nth-child(1) {
  width: calc(300px - 30px);
  margin: 30px;
  margin-left: 0px;
}

#Bienvenido .features .item:nth-child(2) {
  width: calc(262px - 60px);
  margin: 30px;
}

#Bienvenido .features .item:nth-child(3) {
  width: calc(209px - 60px);
  margin: 30px;
}

#Bienvenido .features .item:nth-child(4) {
  width: calc(229px - 30px);
  margin: 30px;
  margin-right: 0px;
}

#Bienvenido .features .item .icono {
  text-align: center;
  margin-bottom: 20px;
}

#Bienvenido .features .item .title {
  font-family: "scs-bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #CD1931;
  margin-bottom: 15px;
}

#Bienvenido .features .item p {
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #909090;
}

#Bienvenido .features .item p span {
  font-family: "scs-italic", Arial, Helvetica, sans-serif;
  color: #777777;
}

#Bienvenido .features .item:hover {
  border-bottom: 3px solid #A10B23;
}

#TYC .contenido {
  width: 60%;
  margin: 30px 0px;
}

#TYC .contenido h4 {
  font-family: "scs-regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 20px;
}

#TYC .contenido p {
  font-family: "scs-elight", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #1a1a1a;
  line-height: 28px;
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  #Login header .bajada {
    margin-top: 30px;
  }
  #Login header .bajada h1 {
    font-size: 56px;
  }
  #Login header .bajada p {
    font-size: 24px;
    line-height: 30px;
  }
  #Login header .accesos {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  #Login header .accesosProductor, #Login header .accesosCliente {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  #menuMobileBoton {
    display: block;
  }
  #Bienvenido header nav {
    display: none;
  }
  #Bienvenido header .bajada h1 svg {
    width: 100%;
  }
  #Bienvenido header .bajada p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
  }
  #Bienvenido header .bajada a {
    width: 100%;
    font-size: 18px;
    margin: 20px 0;
  }
  #Bienvenido .features {
    text-align: center;
  }
  #Bienvenido .features .item:nth-child(1), #Bienvenido .features .item:nth-child(2), #Bienvenido .features .item:nth-child(3), #Bienvenido .features .item:nth-child(4) {
    width: 300px;
    margin: 30px auto;
  }
  #Bienvenido .features .item .icono {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .popupIngresoProductores h1 {
    font-size: 35px;
  }
  #Login header {
    padding-bottom: 50px;
    height: 100%;
  }
  #Login header .logos {
    vertical-align: bottom;
  }
  #Login header .bajada h1 {
    font-size: 42px;
  }
  #Login header .bajada p {
    font-size: 18px;
  }
  #Login header .bajada p br {
    display: none;
  }
  #Login header .bajada .accesos {
    margin-top: 50px;
  }
  #Login header .bajada .accesosCliente {
    margin-left: 0;
  }
  #Login header .bajada .accesosProductor, #Login header .bajada .accesosCliente {
    width: 250px;
    display: block;
    margin: 50px auto;
  }
}
